.services-benefits {
    padding-top: 80px;
    // padding-bottom: 126px;
    background-color: $color-ebony-clay-gray;
    &__title {
        margin-bottom: 23px;
        color: $color-light;
    }
    &__descr {
        color: $color-light;
        opacity: 0.6;
    }
    &__btn {
        width: 390px;
        transform: translateY(26px);

        @include mobile {
            width: auto;
            transform: none;
        }
    }
    &__centered {
        margin-top: 73px;
        margin-bottom: -13px;
    }
}