.card {
    &__list {
            --mision-gap: 94px;

            // margin-bottom: 27px;
            position: relative;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: calc(var(--mision-gap) * 2);
        }
        &__item {
            position: relative;
            text-align: center;

            &:not(:last-child){
                &::after {
                        
                        position: absolute;
                        top: 0;
                        right: calc(-1 * var(--mision-gap));
                        width: 1px;
                        height: 100%;
                        content: "";
                        background-image: url('../../assets/img/icons/divider.png');
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        display: block;
                    }
            }
        }
    
        &__icon {
            margin-bottom: 22px;
        }
        

        &__title {
            margin-bottom: 9px;
            &_light {
                color: $color-light;
            }
        }
}