.post {
    position: relative;
    z-index: 1000000;
    &__cover {
        display: block;
        margin-top: -79px;
        width: 100%;
        object-fit: cover;

        @include mobile {
            margin-top: -30px;
        }
    }

    &__wrapper {
        margin: 0 auto;
        padding: 0 15px;
        max-width: 840px;
    }

    &__share {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
        color: $color-ebony-clay-gray;

        span {
            margin-right: 10px;
        }

        svg {
            fill: $color-storm-gray;
            opacity: 1;
        }
    }

    &__content {
        padding-top: 80px;
        padding-bottom: 60px;

        * {
            margin-bottom: 28px;
            font-size: 16px;
            line-height: 160%;
            color: var(--color-gray);

            &:last-child {
                margin-bottom: 0;
            }
        }

        h2 {
            margin: 0;
            margin-bottom: 25px;
            font-weight: 700;
            font-size: 20px;
            line-height: 150%;
            color: $color-ebony-clay-gray;

            @include mobile {
                font-size: 18px;
            }
        }

        h3 {
            margin: 0;
            margin-bottom: 25px;
            color: $color-ebony-clay-gray;
        }

        p {
            margin: 0;
            margin-bottom: 28px;
            color: $color-gray;
        }

        blockquote {
            position: relative;
            margin: 0;
            margin-bottom: 28px;
            padding: 21px 58px;
            padding-right: 5px;
            color: $color-ebony-clay-gray;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 21px;
                width: 28px;
                height: 20px;
                background-image: url("data: image/svg+xml, %3Csvg%20width%3D%2228.000000%22%20height%3D%2220.000000%22%20viewBox%3D%220%200%2028%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdesc%3ECreated%20with%20Pixso.%3C%2Fdesc%3E%3Cdefs%2F%3E%3Cpath%20d%3D%22M18.35%208.16L28%200L28%2019C28%2019.55%2027.55%2020%2027%2020L19%2020C18.44%2020%2018%2019.55%2018%2019L18%208.92C18%208.63%2018.12%208.35%2018.35%208.16Z%22%20fill%3D%22%23FF5A30%22%20fill-opacity%3D%221.000000%22%20fill-rule%3D%22nonzero%22%2F%3E%3Cpath%20d%3D%22M0.35%208.16L10%200L10%2019C10%2019.55%209.55%2020%209%2020L1%2020C0.44%2020%200%2019.55%200%2019L0%208.92C0%208.63%200.12%208.35%200.35%208.16Z%22%20fill%3D%22%23FF5A30%22%20fill-opacity%3D%221.000000%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }

        ul {
            list-style-type: none;
            margin: 0;
            margin-bottom: 28px;
            padding: 0;
            color: $color-gray;

            li {
                position: relative;
                padding-left: 32px;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 4px;
                    width: 16px;
                    height: 16px;
                    background-image: url('data: image/svg+xml, %3Csvg%20width%3D%2219.166016%22%20height%3D%2218.333984%22%20viewBox%3D%220%200%2019.166%2018.334%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdesc%3ECreated%20with%20Pixso.%3C%2Fdesc%3E%3Cdefs%2F%3E%3Cpath%20id%3D%22Vector%22%20d%3D%22M18.33%209.16C18.33%2014.22%2014.22%2018.33%209.16%2018.33C4.11%2018.33%200%2014.22%200%209.16C0%204.11%204.11%200%209.16%200C11%200%2012.77%200.53%2014.27%201.55C14.62%201.79%2014.72%202.26%2014.48%202.61C14.25%202.96%2013.77%203.05%2013.42%202.82C12.16%201.97%2010.69%201.52%209.16%201.52C4.95%201.52%201.52%204.95%201.52%209.16C1.52%2013.37%204.95%2016.8%209.16%2016.8C13.37%2016.8%2016.8%2013.37%2016.8%209.16C16.8%208.43%2016.7%207.72%2016.5%207.04C16.38%206.63%2016.61%206.21%2017.02%206.09C17.42%205.97%2017.85%206.2%2017.97%206.61C18.21%207.43%2018.33%208.29%2018.33%209.16ZM9.16%209.65L17.74%201.07C18.07%200.75%2018.59%200.75%2018.92%201.07C19.24%201.4%2019.24%201.92%2018.92%202.25L9.75%2011.42C9.59%2011.58%209.38%2011.66%209.16%2011.66C8.95%2011.66%208.74%2011.58%208.57%2011.42L5.24%208.08C4.91%207.76%204.91%207.23%205.24%206.91C5.57%206.58%206.09%206.58%206.42%206.91L9.16%209.65Z%22%20fill%3D%22%23FF5A30%22%20fill-opacity%3D%221.000000%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                &:not(:last-child) {
                    margin-bottom: 3px;
                }
            }
        }

        @include mobile {
            padding-top: 50px;
            padding-bottom: 30px;
        }
    }
}