.categories {
    position: relative;
    padding-top: 120px;
    padding-bottom: 180px;
    &__title {
        margin-bottom: 40px;
    }
    &__list {
        row-gap: 60px;
    }
    &__item {
        grid-column: 6 span;
    }
}

.news-nav {
    display: flex;
    align-items: center;
    margin-bottom: 60px;

    @include tablet {
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        justify-content: center;
        width: calc(100% / 6);
        
        &:focus {
            outline: none;
        }

        &:focus-visible {
            outline: 2px solid $color-primary;
            outline-offset: 2px;
        }
    
        &:hover {
        color: $color-active;
        }

        &:active {
        color: $color-active;
        }

        @include tablet {
            width: calc(100% / 3);
          }
      
          @include mobile {
            width: 100%
          }

        
    }
    &__btn {
        @include flex-column-center;

        justify-content: center;
        border: 1px solid transparent;
        border-radius: 4px;
        padding: 10px;
        width: 100%;
        &_active {
            color: $color-primary;
            border-color: currentColor;
            pointer-events: none;
            .news-nav__text {
                color: $color-primary;
            }
        }


        &:focus {
            outline: none;
            .news-nav__text {
                color: $color-primary;
            }
        }

        &:focus-visible {
            outline: 2px solid $color-primary;
            outline-offset: 2px;
        }

        &:hover {
            .news-nav__text {
                color: $color-ebony-clay-gray;

                @include tablet{
                    color: $color-active;
                }
            }
        }


        &:active {
            color: $color-active;
        }
    }

    &__text {
        color: #9A9CA5;
        // transition: color .3s ease-in-out;
    }
}

.news-paginations-list {
    display: flex;
    justify-content: center;
    margin-top: 118px;
    // margin: 0 auto;
    // position: absolute;
    // bottom: 118px;
    // right: 50%;
    // transform: translateX(50%);

    @include minitablet {
        margin-top: 60px;
    }
    @include mobile {
        margin-top: 40px;
    }
}

.news-paginations-item {
    color: $color-gray;
    &_active {
        color: $color-primary;
        a {
            color: $color-primary;
        }
    }
}