.categories {
    position: relative;
    padding-top: 120px;
    padding-bottom: 180px;
    &__title {
        margin-bottom: 40px;
    }
    &__list {
        row-gap: 60px;
    }
    &__item {
        grid-column: 6 span;
    }
}

.news-nav {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    &__item {
        display: flex;
        justify-content: center;
        width: calc(100% / 6);
    }
    &__btn {
        @include flex-column-center;

        justify-content: center;
        border: 1px solid transparent;
        border-radius: 4px;
        padding: 10px;
        width: 100%;
        color: #9a9ca5;
        transition: all 0.2s ease-in-out;
        &_active {
            color: $color-primary;
            border-color: currentColor;
          }
    }
}

.news-paginations-list {
    position: absolute;
    bottom: 118px;
    right: 50%;
    transform: translateX(50%);
}

.news-paginations-item {
    color: $color-gray;
    &_active {
        color: $color-primary;
        a {
            color: $color-primary;
        }
    }
}