.world-map {
	padding: 65px 0 150px;
  background-color: $bg-color;

  @include tablet {
      padding-bottom: 60px;
  }
  @include mobile {
      padding-bottom: 40px;
  }
	&__title {
		margin-bottom: 54px;
	}
  &__map {
    display: flex;
    justify-content: center;

    svg {
      width: 100%;
      height: 100%;
    }
    // @include tablet {
    //   svg {
    //     width: 550px;
    //     height: 300px;
    //   }
    // }
    // @include mobile {
      
    // }
  }
}

.highlighted {
    // width: 200%;
    animation: highlight 2s infinite; /* Цвет подсветки */
    // stroke: $color-light; /* Обводка */
    // stroke-width: 2;
    // transform: translateY(-7px);
    // transition: fill 0.3s ease; /* Плавное изменение цвета */
  }

  @keyframes highlight {
    0% {
      fill: #B3B7BC; /* Начальный цвет */
    }
    // 25% {
    //   fill: $color-primary;
    //   opacity: 0.5; /* Промежуточный цвет */
    // }
    50% {
        fill: $color-primary;
        opacity: 0.5; /* Промежуточный цвет */
    }
    // 75% {
    //     fill: $color-primary;
    //     opacity: 0.5;
    // }
    100% {
      fill: #B3B7BC; /* Конечный цвет */
    }
  }