.we-offer {
    padding: 120px 0;
    &__img {
        grid-column: 7 span;
    }
    &__content {
        grid-column: 5 span;
        padding-left: 78px;
    }
    &__title {
        font-family: "Lato", sans-serif;
        line-height: 134%;
        letter-spacing: -1px;
        margin-bottom: 59px;
    }
    &__accordion {
        .accordion__item {
            &:not(:last-child) {
                margin-bottom: 27px; // Пример стиля для всех, кроме последнего
            }
        }

        .accordion__btn {
            position: relative;
            padding-right: 20px;
            padding-left: 44px;
            margin-bottom: 12px;
            text-align: left;
        }

        .accordion__icon {
            position: absolute;
            left: 0;
            top: 9px;
            display: block;
            width: 22px;
            height: 22px;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                width: 100%;
                height: 2px;
                border-radius: 100px;
                background-color: $color-primary;
                transform: translateY(-50%);
            }

            &::after {
                content: "";
                position: absolute;
                left: 50%;
                top: 0;
                width: 2px;
                height: 100%;
                border-radius: 100px;
                background-color: $color-primary;
                transform: translateX(-50%);
            }
        }

        .accordion__content {
            padding-left: 41px;
            padding-right: 20px;
        }
    }
    .is-open .accordion__icon {
        transform: none;

        &::after {
            opacity: 0;
        }
    }
}

.accordion {
    --accordion-time: 0.3s;
}

.content {
    max-width: 1000px;
    margin: 0 auto;
}

.accordion__control {
    width: 100%;
    background-color: transparent;
    cursor: pointer;
}

.accordion__content {
    position: relative;
    top: -50px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0 20px;
    will-change: max-height;
    transition: all 0.7s ease-out;
    box-sizing: content-box;
}

.accordion__icon {
    transition: transform 0.3s ease-out;
}

.is-open .accordion__icon {
    transform: rotate(45deg);
}

.is-open .accordion__content {
    opacity: 1;
    top: 0;
    // padding-top: 12px;
}