.achieve {
    position: relative;
    padding: 120px 0;
    background-image: url("../../assets/img/bg/achieve-bg.png");
    background-position: right bottom -350px;
    background-repeat: no-repeat;
    background-color: var(--color-light);
    z-index: 10000;

    @include tablet {
        padding: 60px 0;
    }
    &__list {
        margin-bottom: 245px;

        @include tablet {
            margin-bottom: 100px;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        padding: 0 15px;
        grid-column: 3 span;

        @include tablet {
            grid-column: 6 span;
          }
    }
    &__icon {
        max-width: 48px;
        max-height: 48px;
        fill: #9A9CA5;
        margin-bottom: 20px;
        svg {
            width: 100%;
            height: 100%;
        }

    }
    &__value {
        color: $color-primary;
        margin-bottom: 6px;

        @include minidesk {
            // font-size: 36px;
            line-height: 54px;
          }
    }
    &__text {
        text-align: center;
    }

    &__image {
        @include minidesk {
            max-width: 45%;
          }
      
          @include tablet {
            max-width: 100%;
          }
    }

    &__content {
        display: flex;
        align-items: start;

        @include tablet {
            display: block;
          }
    }
    &__info {
        position: relative;
        padding: 80px 82px;
        padding-right: 40px;
        padding-bottom: 60px;
        width: 735px;
        left: -30px;
        top: -130px;
        border-radius: 4px;
        box-shadow: $shadow-small;
        background: $color-light;
        flex-shrink: 0;
        z-index: 10;

        @include minidesk {
            left: 0;
            top: 0;
            width: 55%;
          }
      
          @include tablet {
            width: 100%;
          }
      
          @include mobile {
            padding: 15px;
          }
    }
}

.quote {
    margin: 0;

    &__content {
        position: relative;
        margin-bottom: 32px;
        padding: 9px 53px;

        &::before {
            content: "";
            position: absolute;
            left: -5px;
            top: 8px;
            width: 28px;
            height: 20px;
            background-image: url("data: image/svg+xml, %3Csvg%20width%3D%2228.000000%22%20height%3D%2220.000000%22%20viewBox%3D%220%200%2028%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdesc%3ECreated%20with%20Pixso.%3C%2Fdesc%3E%3Cdefs%2F%3E%3Cpath%20d%3D%22M18.35%208.16L28%200L28%2019C28%2019.55%2027.55%2020%2027%2020L19%2020C18.44%2020%2018%2019.55%2018%2019L18%208.92C18%208.63%2018.12%208.35%2018.35%208.16Z%22%20fill%3D%22%23FF5A30%22%20fill-opacity%3D%221.000000%22%20fill-rule%3D%22nonzero%22%2F%3E%3Cpath%20d%3D%22M0.35%208.16L10%200L10%2019C10%2019.55%209.55%2020%209%2020L1%2020C0.44%2020%200%2019.55%200%2019L0%208.92C0%208.63%200.12%208.35%200.35%208.16Z%22%20fill%3D%22%23FF5A30%22%20fill-opacity%3D%221.000000%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            @include mobile {
                left: 0;
              }
        }

        p {
            margin: 0;
            font-weight: 700;
            font-size: 20px;
            line-height: 150%;
            color: $color-ebony-clay-gray;

            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }

        @include mobile {
            padding: 0;
            padding-top: 40px;
            padding-bottom: 20px;
          }
    }

    &__footer {
        padding: 20px 53px;
        font-size: 14px;
        line-height: 150%;
        color: var(--color-storm);
        background-image: url("data: image/svg+xml, %3Csvg%20width%3D%22100.000000%22%20height%3D%2268.000000%22%20viewBox%3D%220%200%20100%2068%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdesc%3ECreated%20with%20Pixso.%3C%2Fdesc%3E%3Cdefs%3E%3CclipPath%20id%3D%22clip1499_1477%22%3E%3Crect%20rx%3D%22-0.500000%22%20width%3D%2299.000000%22%20height%3D%2267.000000%22%20transform%3D%22translate(0.500000%200.500000)%22%20fill%3D%22white%22%20fill-opacity%3D%220%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Crect%20rx%3D%22-0.500000%22%20width%3D%2299.000000%22%20height%3D%2267.000000%22%20transform%3D%22translate(0.500000%200.500000)%22%20fill%3D%22%23FFFFFF%22%20fill-opacity%3D%220%22%2F%3E%3Cg%20clip-path%3D%22url(%23clip1499_1477)%22%3E%3Cpath%20d%3D%22M72.09%2065.9C70.9%2063.69%2075.9%2059.8%2077.4%2057.9C70.9%2058.09%2077.09%2054.09%2080.69%2056.09C80.69%2057.4%2073.09%2065.8%2072.09%2065.9ZM68.9%2063.59C71.19%2062.8%2076.4%2052.19%2071.09%2057C71.19%2059%2066.8%2061.19%2068.9%2063.59ZM98.8%2033.59C98.8%2043.4%2077.3%2051.3%2069.69%2051.4C66.59%2054.5%2061.9%2066.3%2056.8%2067.3C54.5%2063.69%2063.5%2051.8%2066.9%2048.69C66.9%2047.19%2062.3%2049.4%2064%2044.9C62%2045.3%2054.8%2051.59%2055.4%2044.9C51.8%2047.09%2045.4%2051.8%2042%2047.4C39.9%2047.59%2033.4%2053.3%2032.9%2047.59C29.9%2049.69%2030.4%2049.5%2027.59%2049.5C22.8%2052.59%208.19%2061.4%208.19%2049.19C11.4%2037.5%203.3%2054.5%201%2048C1%2043.09%2017.4%2020.9%2020.3%2023C20.3%2024.3%2011.8%2032.5%2010.3%2034.19C9.8%2035%200.59%2047.59%203%2047.9C11.4%2043.5%2014.19%2034.09%2021.3%2029.09C25.69%2029.69%2019%2034.59%2017.3%2036.59C14.09%2038.9%205.4%2050.8%2012%2054.09C18.5%2054.09%2022.3%2050.59%2027.59%2047.9C30.4%2043.5%2033.8%2040.5%2037.8%2037.69C46.3%2033.8%2052.4%2022.59%2056.59%2014.4C57.8%2010.4%2059.3%207.09%2056.8%203.5C46.9%20-3.91%2026.9%207.59%2019.19%2014C18.4%2013%2027.59%206.3%2029.8%206C34.59%202.3%2044.4%200%2050.69%200C70.9%202.69%2050%2029.4%2043%2036.4C43%2037%2044.69%2038.5%2042.5%2037.59C41.19%2037.69%2033.8%2047.09%2034.59%2048.59C42.19%2048.59%2042.59%2040.3%2047.4%2036.3C47.59%2035%2055.8%2027.9%2057.3%2031.8C56.8%2036.8%2046.9%2043.4%2043.3%2046.19C43.3%2051.3%2055.4%2043.09%2056.5%2042.5C56.9%2041.9%2062.69%2035%2062.69%2035C58.09%2033.59%2059.4%2032.5%2063.8%2033.69C66%2033.3%2067.19%2029%2069.9%2030.5C69.9%2033.5%2063.09%2036.19%2073.9%2034.3C74.69%2033.5%2079%2029.5%2078.8%2032.8C75.59%2035.5%2086.5%2032.9%2088.19%2031C92.4%2033.69%2077.8%2035.4%2075.8%2035.59C73.8%2036.9%2064.8%2044%2065.19%2046.9C69.4%2046.9%2075.59%2039.8%2078.69%2037.09C79.59%2037%2079.9%2037.8%2080.8%2037.59C84.19%2035%2095.8%2028.19%2098.8%2033.59ZM44%2043.8C46.3%2042.5%2056.09%2034.8%2055.8%2032.19C53%2031.9%2043.09%2041.59%2044%2043.8ZM33.9%2042.9C34.19%2042.69%2034.5%2042.59%2034.9%2042.4C36.3%2040.5%2034.19%2042%2033.9%2042.9ZM62.3%2037.69C63%2037%2063.8%2036.3%2064.5%2035.69C64.19%2034.9%2062.5%2037.09%2062.3%2037.69ZM69.3%2038.3C73.9%2035.09%2071%2035.8%2066.19%2035.69C63.59%2038.3%2056.69%2042.59%2056.9%2046.69C61.09%2046%2066.69%2041.5%2069.3%2038.3ZM68.3%2051C67.5%2046.3%2058.59%2062.4%2058%2064.9C62.19%2060.9%2065.19%2055.69%2068.3%2051ZM70.5%2047C69.9%2047.5%2068.3%2048.5%2069%2049.4C69.5%2048.9%2070.5%2047.69%2070.5%2047ZM96.9%2033.3C89.5%2031%2072.59%2042.9%2070.59%2050.19C78%2049.8%2085.69%2045%2092%2041.4C93.4%2040.09%2099.4%2035.3%2096.9%2033.3Z%22%20fill%3D%22%23FF5A30%22%20fill-opacity%3D%221.000000%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
        background-position: right 65px center;
        background-size: 100px 68px;
        background-repeat: no-repeat;

        @include mobile {
            padding-bottom: 120px;
            background-position: bottom 30px center;
          }
    }

    &__author {
        display: block;
        margin-bottom: 2px;
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
        color: var(--color-ebony);
    }
}