$color-primary: rgb(255, 90, 48);
$bg-color: rgb(244, 245, 247);
$color-light: #fff;
$color-gray: rgb(66, 69, 81);
$color-ebony-clay-gray: rgb(30, 33, 44);
$color-storm-gray: #787A80;
$iron: rgb(215, 218, 221);