$color-primary: rgb(255, 90, 48);
$bg-color: rgb(244, 245, 247);
$color-light: #fff;
$color-gray: rgb(66, 69, 81);
$color-ebony-clay-gray: rgb(30, 33, 44);
$color-storm-gray: #787A80;
$iron: rgb(215, 218, 221);
$color-active: #fc3300;

$shadow-small: 0px 4px 4px -4px rgba(30, 33, 44, 0.03),0px 12px 10px -6px rgba(154, 156, 165, 0.04),0px 30px 24px -10px rgba(154, 156, 165, 0.05),0px 80px 80px -20px rgba(154, 156, 165, 0.08);

$shadow-large: 0px 4px 4px -4px rgba(30, 33, 44, 0.05),0px 12px 10px -6px rgba(30, 33, 44, 0.08),0px 26px 24px -10px rgba(30, 33, 44, 0.1),0px 60px 80px -20px rgba(30, 33, 44, 0.16);

$grid-gap: 30px;