ul,
li,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: none;
}

.btn-reset {
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
}