.btn {
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    text-transform: uppercase;
    color: $color-light;
    border-radius: 4px;
    &_size {
            &-small {
                padding: 7px 12px;
                font-size: 12px;
                font-weight: 700;
                line-height: 36px;
                letter-spacing: 0.5px;
            }
            &-regular {
                padding: 10px 29px;
                font-size: 14px;
                font-weight: 700;
                line-height: 19px;
                letter-spacing: 0.5px;
            }
            &-large {
                padding: 15px 36px;
                font-size: 16px;
                font-weight: 700;
                line-height: 21px;
                letter-spacing: 0.5px;
            }
        }
    &_theme {
        &-light {
            border-color: $color-light;
            }
        &-primary {
            background-color: $color-primary;
        }
        &-outline {
            color: $color-primary;
            border-color: $color-primary
        }
    }
    
}

.slider-nav {
    @include flex-h-center;
    transform: translateX(14px);
    z-index: 15;

    &__btn {
        @include flex-all-center;

        width: 48px;
        height: 48px;
        border-radius: 100%;
        color: $color-gray;
        transition: background-color 0.3s ease-in-out;

        &_disabled {
            opacity: 0.4;
            pointer-events: none;
            cursor: default;
        }

        svg {
            display: block;
            width: 24px;
            height: 24px;
            color: inherit;
            fill: currentColor;
            transition: color 0.3s ease-in-out;
            object-fit: cover;
        }

        &_disbled {
            opacity: 0.4;
            pointer-events: none;
        }

        &:hover {
            color: $color-light;
            background-color: $color-primary;
        }
    }
}