* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Ubuntu',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1260px;
    // overflow: hidden;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: $grid-gap;
    @include mobile {
        grid-template-columns: repeat(4, 1fr);
    }
    &_cards {
        grid-template-rows: 440px;
        grid-auto-rows: 440px;
    }
}

.section-offset {
    padding-top: 120px;

    @include minitablet {
        padding-top: 60px !important;   
    }

    @include mobile {
        padding-top: 40px !important;
    }

    @include minitablet {
        padding-bottom: 60px !important;
    }
    @include mobile {
        padding-bottom: 40px !important;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    // margin: 1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.centered {
    // width: 100%;
    text-align: center;
}

.custom-checkbox {
    &__input {
        position: absolute;
        opacity: 0;
    }

    &__text {
        position: relative;
        display: inline-block;
        padding-left: 27px;
    }

    &__text::before {
        content: "";
        position: absolute;
        left: -1px;
        top: 1px;
        display: inline-block;
        border: 1px solid $color-primary;
        border-radius: 3px;
        width: 16px;
        height: 16px;
        transition: background-color 0.3s ease-in-out;
    }

    &__text::after {
        content: "";
        position: absolute;
        left: -1px;
        top: 1px;
        width: 16px;
        height: 16px;
        background-image: url('data: image/svg+xml, %3Csvg%20width%3D%2210.000000%22%20height%3D%228.000000%22%20viewBox%3D%220%200%2010%208%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdesc%3ECreated%20with%20Pixso.%3C%2Fdesc%3E%3Cdefs%2F%3E%3Cpath%20d%3D%22M9.82%200.19C10.05%200.45%2010.05%200.87%209.82%201.13L3.94%207.8C3.71%208.06%203.34%208.06%203.11%207.8L0.17%204.47C-0.06%204.21%20-0.06%203.78%200.17%203.52C0.4%203.26%200.77%203.26%201%203.52L3.52%206.39L8.99%200.19C9.22%20-0.07%209.59%20-0.07%209.82%200.19Z%22%20fill%3D%22%23FFFFFF%22%20fill-opacity%3D%221.000000%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
        background-position: center;
        background-size: 10px 8px;
        background-repeat: no-repeat;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    &__input:checked+&__text::before {
        background-color: $color-primary;
    }

    &__input:checked+&__text::after {
        opacity: 1;
    }

    &__input:focus+&__text {
        outline: 1px solid $color-primary;
        border-radius: 4px;
    }
}

.custom-radio {
    &__input {
        position: absolute;
        opacity: 0;
    }

    &__text {
        position: relative;
        display: inline-block;
        padding-left: 27px;
    }

    &__text::before {
        content: "";
        position: absolute;
        left: -1px;
        top: 1px;
        display: inline-block;
        border: 1px solid #b3b7bc;
        border-radius: 100%;
        width: 16px;
        height: 16px;
        transition: background-color 0.3s ease-in-out;
    }

    &__text::after {
        content: "";
        position: absolute;
        left: -1px;
        top: 1px;
        width: 16px;
        height: 16px;
        background-image: url('data:image/svg+xml,%3Csvg%20width%3D%228.000000%22%20height%3D%228.000000%22%20viewBox%3D%220%200%208%208%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdesc%3ECreated%20with%20Pixso.%3C%2Fdesc%3E%3Cdefs%2F%3E%3Ccircle%20cx%3D%224.000000%22%20cy%3D%224.000000%22%20r%3D%224.000000%22%20fill%3D%22%23FF5A30%22%20fill-opacity%3D%221.000000%22%2F%3E%3C%2Fsvg%3E');
        background-position: center;
        background-size: 8px 8px;
        background-repeat: no-repeat;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    &__input:checked + &__text::before {
        border-color: $color-primary;
    }

    &__input:checked + &__text::after {
        opacity: 1;
    }

    &__input:focus+&__text {
        outline: 1px solid $color-primary;
        border-radius: 4px;
    }
}

.article-meta {
    @include tablet {
        display: flex;
        flex-wrap: wrap;
    }

    // color: $color-storm-gray;
    &__item {
        // display: block;
        position: relative;
        color: $color-storm-gray;

        &:not(:last-child) {
            margin-right: 24px;

            &::after {
                content: "";
                position: absolute;
                right: -13px;
                top: 2px;
                width: 1px;
                height: 11px;
                color: $color-storm-gray;
                background-color: currentColor;
            }
        }

        &_comments {
            padding-left: 24px;
            background-image: url('data:image/svg+xml;charset=utf-8,<svg width="14.434570" height="12.828125" viewBox="0 0 14.4346 12.8281" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><desc>Created with Pixso.</desc><defs/><path id="Vector" d="M6.43 0C4.73 0 3.17 0.52 2.02 1.4C0.87 2.28 0.1 3.55 0.1 5C0.1 5.68 0.27 6.33 0.58 6.91C0.58 6.94 0.58 6.98 0.57 7.03C0.56 7.17 0.52 7.37 0.47 7.61C0.36 8.08 0.19 8.63 0.05 9.06C-0.22 9.87 0.59 10.64 1.39 10.33C1.84 10.15 2.45 9.93 2.99 9.77C3.25 9.69 3.49 9.63 3.68 9.6C3.8 9.58 3.87 9.58 3.89 9.58C3.9 9.58 3.9 9.58 3.9 9.58C4.68 9.85 5.53 10 6.43 10C8.13 10 9.69 9.47 10.84 8.59C11.99 7.71 12.76 6.44 12.76 5C12.76 3.55 11.99 2.28 10.84 1.4C9.69 0.52 8.13 0 6.43 0ZM1.43 5C1.43 4.05 1.93 3.15 2.83 2.46C3.73 1.77 5 1.33 6.43 1.33C7.86 1.33 9.13 1.77 10.03 2.46C10.93 3.15 11.43 4.05 11.43 5C11.43 5.94 10.93 6.84 10.03 7.53C9.13 8.22 7.86 8.66 6.43 8.66C5.67 8.66 4.95 8.54 4.31 8.32C4.03 8.22 3.7 8.25 3.47 8.29C3.2 8.33 2.91 8.41 2.61 8.49C2.25 8.6 1.86 8.73 1.51 8.86C1.6 8.55 1.69 8.22 1.77 7.91C1.83 7.65 1.88 7.38 1.9 7.15C1.91 7.03 1.91 6.9 1.9 6.78C1.9 6.67 1.87 6.5 1.78 6.34C1.55 5.92 1.43 5.47 1.43 5ZM13.06 7.57C13.39 6.99 13.62 6.36 13.71 5.71C14.17 6.37 14.43 7.15 14.43 8C14.43 8.75 14.21 9.46 13.84 10.08C13.84 10.09 13.83 10.12 13.83 10.16C13.82 10.26 13.82 10.4 13.83 10.57C13.86 10.91 13.91 11.3 13.97 11.62C14.1 12.37 13.39 13.01 12.66 12.77C12.31 12.66 11.87 12.53 11.47 12.44C11.28 12.4 11.1 12.37 10.97 12.35C10.88 12.35 10.84 12.35 10.82 12.35L10.82 12.35L10.82 12.35C10.18 12.55 9.49 12.66 8.76 12.66C6.91 12.66 5.18 11.91 4.13 10.69C4.85 10.89 5.63 11 6.43 11C6.57 11 6.71 10.99 6.84 10.99C7.41 11.2 8.06 11.33 8.76 11.33C9.36 11.33 9.92 11.24 10.43 11.07C10.66 11 10.93 11.01 11.11 11.03C11.31 11.05 11.54 11.09 11.77 11.14C12.04 11.2 12.32 11.28 12.58 11.36C12.55 11.13 12.52 10.89 12.5 10.66C12.49 10.46 12.48 10.25 12.5 10.06C12.51 9.89 12.55 9.63 12.68 9.41C12.95 8.98 13.1 8.5 13.1 8C13.1 7.85 13.08 7.71 13.06 7.57Z" fill="%23787A80" fill-opacity="1.000000" fill-rule="evenodd"/></svg>');
            background-position: left center;
            background-size: 16px 16px;
            background-repeat: no-repeat
        }
        &_active {
            color: $color-primary;
            font-weight: 700;
        }

        @include tablet {
            margin-top: 5px;

            &:not(:last-child) {
                margin-right: 18px;    
                &::after {
                    content: "";
                    position: absolute;
                    right: -10px;
                    top: 1px;
                    width: 1px;
                    height: 11px;
                    color: $color-storm-gray;
                    background-color: currentColor;
                }
            }
        }
    }
}

a.article-meta__item {
    transition: color .3s ease-in-out;

    &:focus {
        outline: none;
    }

    &:focus-visible {
        outline: 2px solid $color-primary;
        outline-offset: 2px;
    }

    &:hover {
        color: $color-primary;
    }

    &:active {
        color: $color-active;
    }
}

.to-top {
    position: fixed;
    display: flex;
    align-items: flex-end;
    right: 5%;
    bottom: 5%;
    z-index: 100000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    &__text {
        margin-right: 16px;
        color: $color-light;
        text-transform: uppercase;
    }
    &__icon {
        display: flex;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        background-color: $color-primary;
        transition: background-color .3s ease-in-out;

        svg {
            width: 24px;
            height: 24px;
            object-fit: cover;
        }

        &:hover {
            background-color: $color-active; 
        }
    }
}

.visible {
    opacity: 1;
    visibility: visible;
}

.burger {
    --burger-width: 40px;
    --burger-height: 20px;
    --burger-line-height: 2px;
  
    position: absolute;
    right: 15px;
    top: 23px;
    z-index: 1000;
    display: none;
    border: none;
    padding: 0;
    width: var(--burger-width);
    height: var(--burger-height);
    color: #000;
    background-color: transparent;
    cursor: pointer;
  
    @include tablet {
      display: block;
    }
  }
  
  .burger::before,
  .burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }
  
  .burger::before {
    top: 0;
  }
  
  .burger::after {
    top: calc(100% - var(--burger-line-height));
  }
  
  .burger__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
  }
  
  .burger--active::before {
    top: 50%;
    transform: rotate(45deg);
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }
  
  .burger--active::after {
    top: 50%;
    transform: rotate(-45deg);
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }
  
  .burger--active .burger__line {
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .burger:focus::after {
    opacity: 1;
  }