@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&family=Ubuntu:wght@400;700&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

//title
.main-title {
    margin-bottom: 25px;
    font-size: 72px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
    color: $color-ebony-clay-gray;
    &_home {
        color: $color-light;
    }
    span {
        color: $color-primary;
    }
}

.title {
    margin-bottom: 25px;
    font-size: 46px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0%;
    color: $color-ebony-clay-gray;
    &_center {
        text-align: center;
    }
}

// descr
.main-descr {
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    color: $color-storm-gray;
    &_home {
        color: $color-light;
        margin-bottom: 60px;
    }
}

.descr {
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    &_center {
        text-align: center;
    }
}
