@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&family=Ubuntu:wght@400;700&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

//title
.title {
    // margin-bottom: 25px;
    font-size: 72px;
    font-weight: 700;
    line-height: 130%;
    // letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
    color: $color-ebony-clay-gray;
    &_home {
        color: $color-light;
    }
    span {
        color: $color-primary;
    }

    &_h2 {
        margin-bottom: 25px;
        font-size: 46px;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: 0;
        text-transform: none;
        &-center {
            text-align: center;
        }
    }
    &_h3 {
        font-size: 32px;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 0%;
    }
    &_h4 {
        margin-bottom: 32px;
        font-size: 28px;
        line-height: 150%;
        letter-spacing: 0;
        text-transform: none;
        &-center {
            text-align: center;
        }
        &-form {
            width: 100%;
            margin-bottom: 24px;
        }
    }
    &_h5 {
        font-size: 24px;
        line-height: 150%;
        // letter-spacing: 0%;
        text-transform: none;
    }
    
}


// descr
.main-descr {
    text-align: left;
    &_home {
        color: $color-light;
        margin-bottom: 60px;
    }
}

.lead {
    font-size: 20px;
    line-height: 150%;
    &_regular {
        font-weight: 400;
        color: $color-storm-gray;
    }
    &_bold {
        font-weight: 700;
        color: $color-ebony-clay-gray;
    }
}

.base {
    font-size: 16px;
    line-height: 160%;
    &_regular {
        font-weight: 400;
        color: $color-storm-gray;
    }
    &_bold {
        font-weight: 700;
        color: $color-gray;
    }
}

.large {
    font-size: 18px;
    line-height: 150%;
    &_regular {
        font-weight: 400;
        letter-spacing: 0%;
        color: $color-ebony-clay-gray;
    }
    &_center {
        text-align: center;
    }

    &_section-descr-mb {
        margin-bottom: 58px;
    }
}
.small {
    font-size: 14px;
    line-height: 150%;
    &_regular {
        font-weight: 400;
        color: $color-gray;
    }
    &_bold {
        font-weight: 700;
        color: $color-gray;
    }
}

.extrasmall {
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0%;
    color: $color-light;
    &_regular {
        font-weight: 400;
    }
}
