.progress-element {
    &__circly {
            --progress-stroke: #000;
            --progress-bg-opacity: 0.3;
        
            position: relative;
            margin-bottom: 20px;
            width: 148px;
            height: 148px;
        
            svg {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }
        
            
        
            &_one-color {
                --progress-stroke: #f89828;
            }
        
            &_two-color {
                --progress-stroke: #f52f6e;
            }
        
            &_three-color {
                --progress-stroke: #5a87fc;
            }
        
            &_four-color {
                --progress-stroke: #03cea4;
            }

            .progress {
                stroke: var(--progress-stroke);
                transform: rotate(-90deg) translateX(20px);
                transform-origin: center;
                transition: stroke-dashoffset 4s ease, stroke 0.5s ease;
            }

            .progress-bg {
                stroke: var(--progress-stroke);
                opacity: var(--progress-bg-opacity);
            }
    }

    &__value {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}