.project-goal {
    padding-top: 30px;
    padding-bottom: 120px;

    
    &__left {
        padding-top: 24px;
        grid-column: 6 span;
    }
    &__right {
        display: flex;
        justify-content: flex-end;
        grid-column: 6 span;

        @include minitablet {
            justify-content: flex-start;
          }
    }
    &__title {
        margin-bottom: 40px;
    }
    &__descr{
        &:not(:last-child) {
            margin-bottom: 27px;
        }
    }
    &__info {
        width: 495px;
        padding: 25px 60px;
        padding-right: 40px;
        min-height: 300px;
        box-shadow: $shadow-small;
        background-color: $color-light;
        border-radius: 4px;

        @include mobile {
            padding: 10px 10px;
        }
    }
    &__item {
        display: flex;

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
    &__category {
        flex-shrink: 0;
        width: 130px;
        text-transform: uppercase;
        color: $color-ebony-clay-gray;
    }
    &__value {
        color: $color-storm-gray;
    }

    @include minitablet {
        width: 100%;
      }
    
      @include mobile {
        padding: 10px 0;
      }
}