.hero {
    
    &__content {
        max-width: 590px;
    }
    &__title {
        margin-bottom: 25px;
        text-transform: uppercase;
    }
    &__descr {
        text-align: left;
        &_home {
            color: $color-light;
            margin-bottom: 60px;
        }
    }
    &__btns {
        .btn {
            &:not(:last-child) {
                margin-right: 24px;
            }
        }

        @include mobile {
          .btn {
            &:not(:last-child) {
              margin-right: 0;
            }
  
            margin-bottom: 20px;
          }
        }

    }
    &__next {
        position: absolute;
        right: 32px;
        top: 50%;
        z-index: 10000;
        background-color: $color-light;
        transform: translateY(-50%);
      }
    
      &__prev {
        position: absolute;
        left: 32px;
        top: 50%;
        z-index: 10000;
        background-color: $color-light;
        transform: translateY(-50%);
    }

    &__pag {
        counter-reset: pag;
        padding: 0 15px;
        left: calc((100% - 1260px) / 2) !important;
        bottom: 120px !important;
        display: flex;
    
        .swiper-pagination-bullet {
          display: flex;
          flex-direction: column;
          border-radius: 0;
          width: 178px;
          height: auto;
          text-align: left;
          background-color: transparent;
          opacity: 1;
    
          &::before {
            counter-increment: pag;
            content: "0"counter(pag);
            font-weight: 700;
            font-size: 28px;
            line-height: 150%;
            color: rgba(#fff, 0.3);
            transition: color 0.3s ease-in-out;
          }
    
          &::after {
            display: none;
          }

          @include minitablet {
            width: 25%;
          }
        }

        @include middledesk {
          left: 3% !important;
        }
    
        @include minidesk {
          left: 0px !important;
        }
    
        @include minitablet {
          bottom: 50px !important;
          width: calc(100% - 30px) !important;
        }
    
        @include mobile {
          display: none;
        }
    }

    &__bar {
        position: relative;
        overflow: hidden;
        border-radius: 100px;
        width: 100%;
        height: 2px;
        background-color: rgba(#fff, 0.3);
    
        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: $color-light;
          transform: scaleX(0);
          transform-origin: left;
        }
      }
}

.swiper-pagination-bullet-active {
    &::before {
      color: $color-light !important;
    }
  
    .hero__bar {
      &::after {
        transform: scaleX(1);
        transition: transform var(--hero-slider-speed) ease-in-out;
      }
    }
  }

.hero-slider {
    position: relative;
    overflow: hidden;
    width: 100%;

    .hero__next, .hero__prev {
      @include middledesk {
        display: none;
      }
    }
}

.hero-slide {
    padding: 220px 0 353px 0;
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-color: $color-gray;
    &_1 {
        background-image: url('../../assets/img/bg/bg-hero-homepage.jpeg');
    }
    &_2 {
        background: 
        linear-gradient(rgba(30, 33, 44, 0.6), rgba(30, 33, 44, 0.6)), 
        url('../../assets/img/history/history-1.jpeg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &_3 {
        background: 
        linear-gradient(rgba(30, 33, 44, 0.6), rgba(30, 33, 44, 0.6)), 
        url('../../assets/img/history/history-6.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &_4 {
        background: 
        linear-gradient(rgba(30, 33, 44, 0.6), rgba(30, 33, 44, 0.6)), 
        url('../../assets/img/history/history-4.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    @include minitablet {
        padding-top: 150px;
        padding-bottom: 200px;
    }

    @include mobile {
      padding: 100px 0;
    }
    
}