.partners {
    // &__title {
    //     margin-bottom: 60px;
    // }
    &__list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 102px;
        row-gap: 40px;
    }

    &__link {
        &:focus {
            outline: 2px solid $color-primary;
            outline-offset: 2px;
        }
    }
}