.facts {
    position: relative;
    padding: 180px 0;
    overflow: hidden;
    &__title {
        margin-bottom: 61px;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-width: 736px;
        margin: 0 auto;
        gap: 48px;

        @include minitablet {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mobile {
            grid-template-columns: 1fr;
        }
    }

    &::before {
        content: "";
        position: absolute;
        width: 570px;
        height: 1065px;
        left: -9px;
        top: -195px;
        background-image: url('../../assets/img/bg/facts-bg.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        // transform: rotate(126.97deg);
    }
}

.progress-element {
    &__circly {
        position: relative;

        svg {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }

    @include minitablet {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}