.header {
    padding: 23px 0 21px 0;
    &_main {
        background-color: $color-light;
    }
    &_secondary {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    &__container {
        @include flex-all-sb;
    }

    &__nav {
        margin-left: -114px;

        @include minidesk {
            margin-left: 0;
        }

        @include tablet {
            position: fixed;
            left: 0;
            top: 0;
            z-index: 1000;
            display: block;
            overflow-y: auto;
            padding: 50px;
            width: 80%;
            height: 100vh;
            background-color: $color-light;
            transform: translateX(-150%);
            transition: transform 0.3s ease-in-out;
      
            &_active {
              transform: none;
            }
          }
      
          @include mobile {
            padding: 20px;
          }
    }
}

.logo {
    @include minidesk {
        max-width: 100px;
    }

    @include tablet {
        max-width: none;
      }

    &:focus {
        outline: none;
    }

    &:focus-visible {
        outline: 2px solid $color-primary;
        outline-offset: 2px;
    }
}

.header-contacts {
    @include flex-v-center;
    &__link {
        @include flex-column-start;

        &:not(:last-child) {
            margin-right: 36px;
        }
    }
}
.contacts-link {
    padding-left: 52px;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    &__value {
        transition: color 0.3s ease-in-out;
    }
    &_call {
        background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%220%200%2040%2040%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%3Cdesc%3ECreated%20with%20Pixso.%3C/desc%3E%3Cdefs/%3E%3Cpath%20d%3D%22M14.16%204.86C12.78%204.86%2011.66%205.98%2011.66%207.36L11.66%2032.62C11.66%2034.01%2012.78%2035.12%2014.16%2035.12L25.83%2035.12C27.21%2035.12%2028.33%2034.01%2028.33%2032.62L28.33%207.36C28.33%205.98%2027.21%204.86%2025.83%204.86L25.69%204.86L25.28%205.84C25.02%206.46%2024.42%206.86%2023.75%206.86L16.25%206.86C15.57%206.86%2014.96%206.46%2014.71%205.84L14.3%204.86L14.16%204.86ZM8.33%207.36C8.33%204.14%2010.94%201.53%2014.16%201.53L25.83%201.53C29.05%201.53%2031.66%204.14%2031.66%207.36L31.66%2032.62C31.66%2035.85%2029.05%2038.46%2025.83%2038.46L14.16%2038.46C10.94%2038.46%208.33%2035.85%208.33%2032.62L8.33%207.36Z%22%20fill%3D%22%23FF5A30%22%20fill-opacity%3D%221%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E');
    }
    &_mail {
        background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%220%200%2040%2040%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%3Cdesc%3ECreated%20with%20Pixso.%3C/desc%3E%3Cdefs/%3E%3Cpath%20d%3D%22M36.53%2017.61C36.3%2019.25%2035.73%2020.81%2034.9%2022.25C34.96%2022.61%2035%2022.97%2035%2023.33C35%2024.58%2034.63%2025.78%2033.96%2026.87C33.62%2027.42%2033.54%2028.06%2033.5%2028.48C33.46%2028.96%2033.48%2029.49%2033.51%2030C33.55%2030.57%2033.62%2031.17%2033.7%2031.73C33.05%2031.54%2032.34%2031.35%2031.67%2031.2C31.11%2031.07%2030.54%2030.96%2030.02%2030.91C29.57%2030.87%2028.91%2030.83%2028.33%2031.02C27.05%2031.43%2025.64%2031.66%2024.16%2031.66C22.4%2031.66%2020.78%2031.35%2019.36%2030.8C19.02%2030.82%2018.67%2030.83%2018.33%2030.83C16.32%2030.83%2014.39%2030.56%2012.58%2030.08C15.21%2033.12%2019.54%2035%2024.16%2035C25.97%2035%2027.7%2034.72%2029.29%2034.21C29.3%2034.21%2029.3%2034.21%2029.31%2034.21C29.35%2034.21%2029.46%2034.21%2029.68%2034.23C30.01%2034.26%2030.44%2034.34%2030.94%2034.45C31.92%2034.67%2033.03%2035%2033.9%2035.28C35.73%2035.86%2037.51%2034.26%2037.18%2032.4C37.04%2031.6%2036.89%2030.62%2036.84%2029.77C36.81%2029.35%2036.8%2029%2036.83%2028.74C36.83%2028.63%2036.84%2028.57%2036.85%2028.53C37.79%2026.98%2038.33%2025.21%2038.33%2023.33C38.33%2021.21%2037.67%2019.27%2036.53%2017.61Z%22%20fill%3D%22%23FF5A30%22%20fill-opacity%3D%221%22%20fill-rule%3D%22evenodd%22/%3E%3Cpath%20d%3D%22M9.32%209.49C7.08%2011.21%205.83%2013.46%205.83%2015.83C5.83%2017.01%206.13%2018.14%206.71%2019.2C6.93%2019.6%206.99%2020.01%207.01%2020.29C7.04%2020.6%207.03%2020.91%207%2021.21C6.95%2021.8%206.82%2022.46%206.67%2023.12C6.49%2023.89%206.26%2024.71%206.03%2025.48C6.91%2025.16%207.87%2024.83%208.78%2024.57C9.52%2024.35%2010.26%2024.16%2010.93%2024.06C11.5%2023.97%2012.33%2023.88%2013.04%2024.13C14.64%2024.68%2016.43%2025%2018.33%2025C21.91%2025%2025.08%2023.88%2027.33%2022.16C29.58%2020.45%2030.83%2018.19%2030.83%2015.83C30.83%2013.46%2029.58%2011.21%2027.33%209.49C25.08%207.77%2021.91%206.66%2018.33%206.66C14.75%206.66%2011.57%207.77%209.32%209.49ZM7.3%206.84C10.18%204.64%2014.08%203.33%2018.33%203.33C22.57%203.33%2026.48%204.64%2029.36%206.84C32.24%209.05%2034.16%2012.21%2034.16%2015.83C34.16%2019.45%2032.24%2022.61%2029.36%2024.81C26.48%2027.01%2022.57%2028.33%2018.33%2028.33C16.09%2028.33%2013.95%2027.96%2012.01%2027.3C12.01%2027.3%2011.85%2027.29%2011.45%2027.35C10.98%2027.43%2010.39%2027.57%209.72%2027.77C8.37%2028.16%206.87%2028.71%205.72%2029.16C3.73%2029.93%201.7%2028.02%202.37%2025.99C2.73%2024.91%203.15%2023.55%203.42%2022.37C3.56%2021.78%203.65%2021.28%203.68%2020.91C3.69%2020.78%203.69%2020.69%203.69%2020.62C2.93%2019.16%202.49%2017.54%202.49%2015.83C2.49%2012.21%204.42%209.05%207.3%206.84ZM3.69%2020.53C3.69%2020.53%203.69%2020.54%203.69%2020.55C3.69%2020.54%203.69%2020.53%203.69%2020.53Z%22%20fill%3D%22%23FF5A30%22%20fill-opacity%3D%221%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E');
    }
    &:focus {
        outline: none;
    }

    &:focus-visible {
        outline: 2px solid $color-primary;
        outline-offset: 2px;
    }

    &:hover {
        .contacts-link__value {
            color: $color-primary;
        } 
    }

    &:active {
        color: $color-active;
    }

    &_current {
        color: $color-primary;
    }
}