.about-mission {

    padding-top: 80px;
    padding-bottom: 120px;

    @include tablet {
        padding-bottom: 60px;
    }
    @include mobile {
        padding-bottom: 40px;
    }
    &__title {
        // margin-bottom: 20px;
    }

    &__list {
        margin-bottom: 27px;
    }
}