// @import '../../styles/variables.module';

.nav {
    &__list {
        @include flex-all-sb;

        @include tablet {
            display: block;
            margin-bottom: 40px;
        }
        
    }

    &__item {
        &:first-child {
            display: none;
        }

        &:not(:last-child) {
            margin-right: 40px;
        }

        @include tablet {
            display: block;
            width: 100%;
            margin-right: 0;
            margin-bottom: 30px;

            &:first-child {
                display: block;
            }

            &:not(:last-child) {
                margin-right: 0;
            }
        }
    }
    &__link {
        transition: color 0.3s ease-in-out;
        
        &:focus {
            outline: none;
        }

        &:focus-visible {
            outline: 2px solid $color-primary;
            outline-offset: 2px;
        }

        &:hover {
            color: $color-primary;
        }

        &:active {
            color: $color-active;
        }

        &_current {
            color: $color-primary;
        }
    }

    @include tablet {
        // display: none;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1000;
        overflow-y: auto;
        padding: 50px;
        width: 80%;
        height: 100vh;
        background-color: $color-light;
        transform: translateX(-150%);
        transition: transform 0.3s ease-in-out;
  
        &_active {
          transform: none;
        }
      }
  
      @include mobile {
        padding: 20px;
      }
}