.footer {
    padding: 84px 0 80px;
    background-color: $color-ebony-clay-gray;
    &__left{
        grid-column: 7 span;

        @include mobile {
            grid-column: 4 span;
        }
    }
    &__top {
        @include flex-v-center;
        margin-bottom: 20px;

        @include mobile {
            display: block;
        }
    }
    &__logo {
        margin-right: 61px;

        @include mobile {
            display: inline-block;
            margin-right: 0;
            margin-bottom: 30px;
        }
    }
    &__descr {
        width: 100%;
        max-width: 495px;
        color: $color-light;
        opacity: 0.6;
    }
    &__form {
        grid-column: 5 span;

        @include minitablet {
            grid-column: 12 span;
        }
        
        @include mobile {
            grid-column: 4 span;
        }
    }
    &__container {
        position: relative;
    }
    &__address {
        grid-column: 4 span;
    }
    &__nav {
        grid-column: 8 span;

        @include mobile {
            grid-column: 4 span;
        }
    }
    &__copyright {
        padding-top: 28px;
        grid-column: 12 span;
        color: $color-light;
        opacity: 0.6;
        span {
            padding-left: 22px;
            background-image: url('data:image/svg+xml;charset=utf-8,<svg width="16.000000" height="16.000000" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><desc>Created with Pixso.</desc><defs/><path d="M7.99 13.27C4.93 11.52 3.22 9.78 2.39 8.28C1.54 6.74 1.62 5.44 2.09 4.52C3.05 2.62 5.8 2.02 7.47 4.13L7.99 4.8L8.52 4.13C10.19 2.02 12.94 2.62 13.9 4.52C14.37 5.44 14.44 6.74 13.6 8.28C12.77 9.78 11.06 11.52 7.99 13.27ZM7.99 2.73C5.64 0.5 2.17 1.42 0.9 3.91C0.2 5.28 0.19 7.05 1.22 8.92C2.24 10.78 4.27 12.74 7.67 14.61L7.99 14.79L8.32 14.61C11.71 12.74 13.75 10.78 14.77 8.92C15.79 7.05 15.79 5.28 15.09 3.91C13.82 1.42 10.35 0.5 7.99 2.73Z" fill="%23FF5A30" fill-opacity="1.000000" fill-rule="evenodd"/></svg>');
            background-position: 2px center;
            background-size: 16px 16px;
            background-repeat: no-repeat;
        }

        @include mobile {
            grid-column: 4 span;
        }
    }
}

.footer-form {
    &__title {
        margin-bottom: 21px;
        color: $color-light;
    }
    &__items {
        @include flex-v-center;
        margin-bottom: 16px;
    }
    &__descr {
        color: $color-light;
        opacity: 0.6;
    }
    &__btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: 12px 21px;
        letter-spacing: 0.5px;
    }
    .form-field {
        margin: 0;
        width: 364px;
    }

    .form-field__input {
        width: 100%;
        height: 44px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        background-color: rgba(255, 255, 255, 0.12);
        &::placeholder {
                color: $color-light;
                opacity: 0.6;
            }
    }
    
}

.footer-title {
    margin-bottom: 13px;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-light;
}

.footer-address {
    padding-top: 20px;
    &__item {
        display: block;
        &:not(:last-child) {
            margin-bottom: 4px;
        }
        a  {
            transition: color .3s ease-in-out;
            &:focus {
                outline: none;
            }
    
            &:focus-visible {
                outline: 2px solid $color-primary;
                outline-offset: 2px;
            }
    
            &:hover {
                color: $color-light;
            }
    
            &:active {
                color: $color-light;
            }
        }
    }
    &__name {
        color: $color-light;
    }
}

.footer-nav {
    display: flex;
    padding-top: 20px;
    padding-left: 54px;
    &__col {
        &:not(:last-child) {
            margin-right: 125px;

            @include minitablet {
                margin-right: 24px;
            }
        }
    }
    &__item {
        &:not(:last-child) {
            margin-bottom: 4px;
        }
    }
    &__link {
        transition: color .3s ease-in-out;
        &:focus {
            outline: none;
        }

        &:focus-visible {
            outline: 2px solid $color-primary;
            outline-offset: 2px;
        }

        &:hover {
            color: $color-light;
        }

        &:active {
            color: $color-light;
        }
    }

    @include minitablet {
        padding-left: 24px;
    }

    @include mobile {
        padding-left: 0;
    }
}