.footer {
    padding: 80px 0 80px;
    background-color: $color-ebony-clay-gray;
    &__container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        // grid-template-rows: repeat(3, 1fr);
        gap: 50px;
    }
    &__left{
        grid-column: 7 span;
    }
    &__top {
        @include flex-v-center;
        margin-bottom: 22px;
    }
    &__logo {
        margin-right: 60px;
    }
    &__descr {
        width: 100%;
        max-width: 495px;
        color: $color-light;
        opacity: 0.6;
    }
    &__form {
        grid-column: 5 span; 
    }
    &__address {
        grid-column: 4 span;
    }
    &__nav {
        grid-column: 8 span;
    }
    &__copyright {
        grid-column: 12 span;
    }
}

.footer-form {
    &__title {
        color: $color-light;
    }
    &__items {
        @include flex-v-center;
    }
    &__descr {
        color: $color-light;
        opacity: 0.6;
    }
    &__btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: 12px 19px;
    }
    .form-field {
        margin: 0;
        width: 364px;
    }

    .form-field__input {
        width: 100%;
        margin-bottom: 16px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        background-color: rgba(255, 255, 255, 0.12);
        &::placeholder {
                color: $color-light;
                opacity: 0.6;
            }
    }
    
}

.footer-title {
    color: $color-light;
}