.form {
    &__content {
        &_horizontal {
            @include flex-v-end;

            @include tablet {
                flex-wrap: wrap;
                justify-content: space-between;

                & > * {
                    margin-right: 0 !important;
                    margin-bottom: 20px;
                    width: 49% !important;
                    flex-grow: 0 !important;
            
                    .form__input {
                      width: 100%;
                    }

                    .btn {
                        width: 100%;
                      }
            
                    @include mobile {
                      width: 100%;
                    }
                  }
            
            }
        }
        &_vertical {
            @include flex-column-center;
            .form__field {
                margin-bottom: 20px;
            }
            .form__checkbox {
                margin-bottom: 24px;
            }
        }
        &_grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    &__field {
        @include flex-column-start;
        // width: 100%;
        
        input, textarea {
            width: 100%;
        }
        textarea {
            // width: 100%;
            resize: none;
            padding-top: 10px;
        }
        &_know-more {
            flex-grow: 1;
            margin-right: 24px;
            input, textarea {
                // width: 100%;
            }

            // @include tablet{
            //     margin-right: 0;
            //     // padding-right: 24px;
            //     width: 49%;
            //     // flex-grow: 0;
            //     // width: 49%;
            // }
        }
        &_contacts {
            width: 100%;
            margin-bottom: 20px;
            input, textarea {
                width: 100%;
            }
        }
        &_post {
            width: 48%;
            input {
                width: 100%;
                height: 52px;
              }
            textarea {
                width: 100%;
                height: 100px;
                
            }
            &-comment {
                margin-top: 22px;
                margin-bottom: 46px;
                width: 100%;
            }
        }
    }
    &__label-text {
        margin-bottom: 8px;
    }
    &__input {
        width: 260px;
        height: 44px;
        padding-left: 16px;
        border: 1px;
        border-style: solid;
        border-radius: 4px;
        border-color: $iron;
        background-color: #F4F5F7;
        &_contacts {
            height: 66px;
        }
        &_post {
            height: 52px;
        }
        &::placeholder {
            font-size: 14px;
            line-height: 150%;
            font-weight: 400;
            color: $color-gray;
        }

        &:focus {
            outline: 2px solid $color-primary;
            outline-offset: 2px;
        }
    }
}